.box-tips {
  height: 377px;
  position: relative;
  width: 911px;
}

.box-tips .ssong-att-s {
  height: 377px;
  left: 0;
  position: fixed;
  top: 0;
  width: 915px;
}

.box-tips .rectangle {
  background-color: #0a846e;
  border: 14px solid;
  border-color: #0a836d;
  border-radius: 239px;
  box-shadow: inset 0px 4px 4px #00000040;
  height: 391px;
  left: -7px;
  position: absolute;
  top: -7px;
  width: 391px;
}

.box-tips .text-wrapper {
  color: #1e1e1e;
  font-family: "Open Sans-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 444px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 92px;
  width: 236px;
}

.box-tips .v-ren-r-ntligen-h-r {
  color: #000000;
  font-family: "Open Sans-Regular", Helvetica;
  font-size: 16px;
  font-weight: 400;
  left: 444px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 153px;
  width: 467px;
}

.box-tips .button {
  height: 71px;
  left: 728px;
  position: absolute;
  top: 249px;
  width: 187px;
}
